.hobby-section{
    width: 45%;
    background-color:   #B2F2BB;
    height: 20rem;
    border: #3a6640 1px solid;

    h2{
        text-align: center;
        color: #3a6640;
    }

    .hobby-list{
        list-style-type: none;
        color: #3a6640;
        font-size: 1.25rem; 
    }
}
