.quote-app{
    display: flex;
    flex-direction: column;
    margin:0 25% ;
    .new-quote{
        background-color: #FFE3CA;
        width: 11rem;
        height: 4.5rem;
        font-size: 1.25rem;
        margin: 1rem 0;
        color: #0C359E;
        font-weight: 600;

    }
    .quote-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}